name: Open Budget Bot Runner

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # Har 6 soatda avtomatik qayta ishga tushadi
  workflow_dispatch: # Bu tugma orqali qo'lda ham yoqish imkonini beradi

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install aiogram

      - name: Run Bot
        env:
          # Tokenlarni GitHub Secrets orqali o'qish (Xavfsizlik uchun)
          API_TOKEN: ${{ secrets.API_TOKEN }}
          ADMIN_ID: ${{ secrets.ADMIN_ID }}
        run: python main.py
